body
{
	background: #ffff;
	margin-top: 0px;
	
}
a:link,a:visited
{
	font-family: sans-serif;
	text-decoration: none;
	color: white;
	font-weight: bold;

}
#mainHeader
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: white;
}
#logo
{
	width: 50%;
	padding: 20px;

}

a:hover #mainNav li
{
	background: #a7d6c0;
}
#siteContainer
{
	padding: 20px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 920px;
	margin:0 auto;
}
.siteContainerBackground
{
	background-color: #ededed;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23ededed'/%3E%3Cstop offset='1' stop-color='%23b8dade'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%23ffffff' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23ffffff' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2'%3E%3Cstop offset='0' stop-color='%23ffffff' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23ffffff' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

#mainNav
{
	width: 920px;
	background: #add8e6;
	padding: 30px 0;
}
#mainNav ul
{
	
	display: flex;
	justify-content: space-around;
	

}
#mainNav li
{
	list-style-type: none;
	display: inline;
	padding: 30px 50px;
	background: #86c5d8;
	border-radius: 20px;
	transition: ease 0.3s;

}

#mainNav li:hover
{
	background: #42b8d3;
}

button
{
	margin: 20px;
	width: 200px;
	height: 100px;
	border-radius: 10px;
	border:none;
	background: #20CE87;
	font-size: 20px;
	color: white;
	transition: ease 0.3s;
}
button:hover
{
	width: 210px;
	height: 110px;
}
button:active,a:active
{
	background: #117049;
}
h1
{
	font-family: sans-serif;
	text-align: center;
	font-size: 60px;
	color: #42b8d3;
}
#mainContainer
{
	width: 80%;
	padding: 50px;

}

.boxes
{
	padding: 20px;
}

.st1,.st2,.st3,.st4,.st5,.st6,.st7,.st8,.st9,.st10,.st11,.st12,.st13,.st14,.st15,.st16,.st17,.st18,.st19,.st20,.st21,#love,#add,#home,#mail
{
	transition:ease 0.3s, transform 0.3s ease;
	transform-origin: center;
	 transform-box: fill-box;

}

.upper
{
	transition: ease 0.3s;
	transform-origin: top;
	 transform-box: fill-box;

}

.lower
{
	transition: ease 0.3s;
	transform-origin: bottom;
	 transform-box: fill-box;
}

#mail_1_:active
{
	position: relative;
	top: 20px;
}


#mail_1_:hover .upper
{
	

	transform: rotateX(50deg);
}

#mail_1_:hover .lower
{
	

	transform: rotateX(-20deg);
}
#mail_1_:hover .st4
{
	fill: #03f7e5;
}
#mail_1_:hover .st5
{
	fill: #047a6f;
}

#search:hover .st1
{
	fill: #028ecc;
}
#search:hover .st2
{
	fill: #047ca5;
}
#search:hover .st3
{
	transform: rotate(90deg);
}
#menu:hover .cls-3
{
	fill: black;
}
#home_1_:hover #home
{
	transform: rotateY(180deg);
}
#home_1_:hover .st6
{
	fill:#f77f00;
}
#home_1_:hover .st7
{
	fill:#ba5a02;
}
#setting:hover .st3
{
	
	transform: rotate(360deg);
}

#setting:hover .st20
{
	fill: #f9471e;
}
#setting:hover .st21
{
	fill: #ce3d1b;
}
#delete:hover .cls-3
{
	fill: black;
}
#love:hover .cls-3
{
	fill: black;
}
#location:hover .cls-3
{
	fill: black;
}
#add_1_:hover .st3
{

	transform: rotate(360deg);
}
#add_1_:hover .st16
{


	fill: #ed4a7d;
}
#add_1_:hover .st17
{


	fill: #c1406f;
}

#send:hover .cls-3
{
	fill: black;
}
#love:hover #heart
{
	transform: rotateY(360deg);
	fill: white;
}

#love:hover .st8
{
	fill: #ffd939;
}

#love:hover .st9
{
	fill: #ceaf2e;
}
#send_1_:hover .st3
{
	transform: rotateY(180deg);
}
#send_1_:hover .st12
{
	fill: #06d6a0;
}
#send_1_:hover .st13
{
	fill: #078e68;
}
#location:hover .st10
{
	fill: #21c4cc;
}
#location:hover .st11
{
	fill: #1ca0a0;
}
#location:hover .st3
{	
	transform: rotateY(360deg); 
}
#delete_1_:hover .st18
{
	fill: #f90303;
}
#delete_1_:hover .st19
{
	fill: #b20202;
}

#delete_1_:hover .lower
{
	

	transform: rotateX(-20deg);
}
#menu:hover .st14
{
	fill: #5ec94f;
}
#menu:hover .st15
{
	fill: #489b3d;
}
#menu:hover .st3
{	
	transform: rotateY(360deg); 
}